<p>  
  <h1>Knode</h1>
  <p>
   <h3>Private Changelog for Knode</h3>
   <p>
     To Do:<br />
     <li>Compare/Share Knodes between public/private(friends)
connections</li>
     <li>Add information, media, links tabs to each knode</li>
     <li>Knode Text - Highlight text, transfer button. Post OG author,
originating Knode</li>
     <li>Knode Media - Link by pics/video/audio to transfer.  Post OG author,
originating Knode</li>
     <li>Knode Links - Link by URL to transfer.  Post OG author,
originating Knode</li>
     <li>Knode Type - PRIVATE - user viewable only; friend viewable
only</li>
     <li>Knode Type - PUBLIC - everyone can view and transfer</li>
     <li>On Knode Create/Edit - Suggest other Knodes(similar)</li>
     <li>On Knode Create/Edit - Suggest other users(siimilar)</li>
     <li>Personal Knode - CONTACTS - via google, facebook, twitter,
knode</li>
     <li>Personal Knode - CALENDAR - via google, facebook</li>
     <li>Personal Knode - BLOG - Knode/Transfer History, Comments,
facebook, twitter status</li>
     <br />
     ===============<br />
     v.1.0b - 11.26.2010<br />
     ===============
     <li>Users/Knodes linked with user_id</li>
     <li>Show number of knodes/list on user profile</li>
     <li>Remade Knodes with Synapse</li>
     ===============<br>
     v.0.9 - 11-18-2010<br>
     ===============
     <li>Changed from POSTS table to KNODES table</li>
     <li>Added :info, :media, :links tables</li>
     ===============<br>
     v.0.8 - 11-18-2010<br>
     ===============
     <li>Added Admin field, ability to delete other users</li>     
     ===============<br>
     v.0.7 - 11-15-2010<br>
     ===============
	 <li>Added user verification</li>
	 <li>Added cookies for current_user(signed_in)</li>
	 <li>Added "Sign in", "Sign up", "Profile" to the _header.html.erb</li>
	 <li>Added session management for signed_in?</li>
     ===============<br>
     v.0.5 - 11-14-2010<br>
     ===============
	 <li>Added logo.png</li>
	 <li>Encrypting passwords with SHA2</li> 
     ===============<br>
     v.0.4.5 - 11-11-2010<br>
     ===============
      <li>Applied .html_safe to allow for html posting with TinyMCE</li>
      <li>Starting SHA2 password encryption</li>
     ===============<br>
     v.0.4 - 11-10-2010<br>
     ===============
      <li>Updating controller to add page views</li>
      <li>Tiny MCE installated - Still isn't posting HTML. Plain Text
only...</li>
     ===============<br>
     v.0.3 - 11-7-2010<br>
     ===============
      <li>Added email validation through regex</li>
      <li>Added email to users table</li>
     ===============<br>
     v.0.2 - 11-5-2010<br>
     ===============
      <li>Added _header and _footer information throughout</li>
      <li>_header set to show title in bar, logo, Home, Login, Signup links</li>
      <li>_footer shows About, Contact, and Blog address</li>
      <li>Added this changelog, set at ~/pages/changelog</li>
    </p>
   </p>
</p>
