  <h1>Home</h1>
  <p>
   Welcome to Knode.  Pretty soon, this will be the depository for all
knowledge on the internet.  Anything and everything can be a Knode.
Anyone can create and share Knodes.  Once a Knode is created, it can
be populated by other common Knodes, making your Knode's bigger.  The
more you use and add to Knode, the larger your Knode Cluster will be.
  </p>
